.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

/* Shows the front of the card (the img) */
.card .front {
    transform: rotateY(90deg);
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
}