*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h2,p{
    margin: 20px;
}

.yatta {
    width: 500px;
}

.rules-img{
    width: 500px;
}

@media only screen and (max-width: 550px) {
    .yatta, .rules-img {
        width: 300px;
    }
}

@media only screen and (max-width: 350px) {
    .yatta, .rules-img {
        width: 225px;
    }
}

.App {
    max-width: 800px;
    margin: 40px auto;
}

.rules-icon{
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 25px;
    margin-right: 3px;
}

.restart-icon {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 25px;
}



button {
    margin: 20px auto;
    display: flex;
    background: none;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition: 0.2s;
    padding: 12px;
}

button:hover {
    background: #fff;
    color: #1b1523;
    transition: 0.2s;
}

.card-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media only screen and (max-width: 400px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}